h1{
    font-size: 100px;
}
h1, h2{
    font-family: "SF Pro Display", serif;
    text-align: center;
    color: #F3EEEA;
}
body {
    padding: 0;
    margin: 0;
    background-color: #6DC5D1;
}

.container {
    height: 100vh;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: 1fr 1fr;
}

.item {
    font-size: 5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cowboy{
    background-color: #FFC94A;
    grid-column: span 2;
    grid-area: 1 / 1 / 2 / 3;
}
.book{
    background-color: #F3EEEA80;
    grid-row: span 2;
    grid-area: 1 / 2 / 3 / 4;
}
.astronaut{
    background-color: #3C5B6F;
    grid-column: span 2;
    grid-area: 2 / 1 / 3 / 3;
}